doctype html5
html
	head
		meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
		title= title
		link(type='text/fonts', rel='stylesheet', src="/vendor/Roboto")

		link(rel='stylesheet', href="/stylesheets/index.css")


	body
		.content
			.topbar
				span.phonesconnected 0 phones connected
				| &nbsp;(
				span.phonesactive
				| &nbsp;in the last 20 seconds)

			.commoncontrols
				button.recordAll Start recording on all phones.

			.phones




		script(type='text/javascript', src='/vendor/jquery.min.js')
		script(type='text/javascript', src='/vendor/jquery.tmpl.min.js')

		script(type='text/javascript', src='/vendor/jquery-ui.min.js')
		script(type='text/javascript', src='/vendor/jquery.ui.touch-punch.min.js')

		script(type='text/javascript', src='/vendor/underscore-min.js')
		script(type='text/javascript', src='/vendor/backbone-min.js')

		script(type='text/javascript', src='/vendor/highcharts.js')
		script(type='text/javascript', src='/vendor/highcharts.exporting.js')

		script(type='text/javascript', src='/vendor/fastclick.js')

		script(type='text/javascript', src='/javascripts/index.js')


		script#phone-tmpl(type="text/x-jquery-tmpl")
			.info
				.devicename
					{{if operatingSystem == "iOS"}}
					img.osimage(src="/images/apple-20px@2x.png")
					{{else}}
					img.osimage(src="/images/android-20px@2x.png")
					{{/if}}
					.devicenametext ${device}
				span.moreinfo ${operatingSystem} ${operatingSystemVersion} (app versie ${appVersion}, ${carrierName})
					span.username
						| &nbsp;
						input
						span.value ${username}
				.client_id ${client_id}

			.phonecontrols
				.recordcontrols
					.recordbutton
					.state
						.recordingicon
						.statetext ${status}

					.uploadspeed

				.previewimage

				.log
					.content
					.delete

				.uploadgraph
					.chart
				.actions
					input.alertmessage(type="text", placeholder="Alert message")
					button.sendAlertmessage
						img.image(src="/images/apple-20px@2x.png")
						.text Send Alert message
					button.toggleCamera
						img.image(src="/images/apple-20px@2x.png")
						.text Toggle Camera
					button.toggleSevenSecondsMode
						img.image(src="/images/apple-20px@2x.png")
						.text Toggle 7 seconds mode
					button.fetchlog
						img.image(src="/images/android-20px@2x.png")
						.text Fetch device log
					button.moreactions More actions
					.more
						button.lessactions Less actions
						input.englishText(type="text", placeholder="English text")
						button.sayEnglishText
							img.image(src="/images/apple-20px@2x.png")
							.text Say English text
						input.dutchText(type="text", placeholder="Nederlandse tekst")
						button.sayDutchText
							img.image(src="/images/apple-20px@2x.png")
							.text Say Dutch text
						button.killApp
							img.image(src="/images/apple-20px@2x.png")
							.text Kill app








		script.
			$(function(){
				var app = new App({
					connectedPhones: !{JSON.stringify(connectedPhones)}
				});
				app.init();
			});
